* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kdam Thmor Pro', sans-serif;
    color: #262626;
}
.menuBar {
    background-color: #262626;
    width: 350px;
    height: 100vh;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 550ms;
    box-shadow: 0px 3px 3px 1px #666666; 
    z-index: 9999; 
}
.menuBar.active {
    left: 0;
    transition: 1ms; 
}
.menuTitle {
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    font-size: 2rem;
}
.menuButton {
    padding: 1rem;
    margin: 1rem;
    background-color: #e6e6e6;
    border: none;
    border-radius: 2rem;
    color: #1a1a1a;
    font-weight: bold;
}
.menuButton:hover {
    cursor: pointer;
}
.menuBarItems {
    width: 100%; 
    margin-top: 0.5rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

